<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-3 pb-2 pb-md-0 mb-md-3 text-center">
              {{ title }}
            </h3>
            <div class="col-md-12 mb-4 d-flex justify-content-center" *ngIf="!servicesForm">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="individualCustomer"
                  (click)="clickCustomerOption(true)" [checked]="isIndividual" />
                <label class="form-check-label" for="femaleGender">Individual Customers
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="corporateCustomers"
                  value="corporateCustomers" (click)="clickCustomerOption(false)" [checked]="!isIndividual" />
                <label class="form-check-label" for="otherGender">Corporate Customers
                </label>
              </div>
            </div>
            <div style="display: flex; justify-content: center;">
              <img class="card-img" src="assets/images/createCustomer.png" alt="create-customer-image" width="500" height="300"/>
            </div>
            <form *ngIf="isIndividual && !servicesForm" [formGroup]="createIndividualCustomer">
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label class="form-label" for="nationalIdentity">National Identity</label>
                  <div class="form-outline">
                    <input type="text" id="nationalIdentity" class="form-control form-control-lg"
                      formControlName="nationalIdentity" maxlength="11"/>
                    <div *ngIf="
                      createIndividualCustomer.get('nationalIdentity')?.hasError('required') &&
                      (createIndividualCustomer.dirty || createIndividualCustomer.touched)
                    " class="alert alert-danger" role="alert">
                      National Identity is required
                    </div>
                    <div *ngIf="
                      createIndividualCustomer.get('nationalIdentity')?.hasError('minlength') &&
                      (createIndividualCustomer.dirty || createIndividualCustomer.touched)
                    " class="alert alert-danger" role="alert">
                      National Identity minimum length must be 11 digits
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="firstName">First Name</label>
                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control form-control-lg"
                      formControlName="firstName" />
                    <div *ngIf="
                      createIndividualCustomer.get('firstName')?.hasError('required') &&
                      (createIndividualCustomer.dirty || createIndividualCustomer.touched)
                    " class="alert alert-danger" role="alert">
                      First Name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="lastName">Last Name</label>
                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control form-control-lg" formControlName="lastName" />
                    <div *ngIf="
                      createIndividualCustomer.get('lastName')?.hasError('required') &&
                      (createIndividualCustomer.dirty || createIndividualCustomer.touched)
                    " class="alert alert-danger" role="alert">
                      Last Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label class="form-label" for="dateOfBirth">Birthday</label>
                  <div class="form-outline">
                    <input type="date" id="dateOfBirth" class="form-control form-control-lg"
                      formControlName="dateOfBirth" />
                    <div *ngIf="
                      createIndividualCustomer.get('dateOfBirth')?.hasError('required') &&
                      (createIndividualCustomer.dirty || createIndividualCustomer.touched)
                    " class="alert alert-danger" role="alert">
                      Birthday is required
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <form *ngIf="!isIndividual && !servicesForm" [formGroup]="createCorporateCustomer">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="companyName">Company Name</label>
                  <div class="form-outline">
                    <input type="text" id="companyName" class="form-control form-control-lg"
                      formControlName="companyName" />
                    <div *ngIf="
                      createCorporateCustomer.get('companyName')?.hasError('required') &&
                      (createCorporateCustomer.dirty || createCorporateCustomer.touched)
                    " class="alert alert-danger" role="alert">
                      Company Name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="taxNumber">Tax Number</label>
                  <div class="form-outline">
                    <input type="text" id="taxNumber" class="form-control form-control-lg"
                      formControlName="taxNumber" />
                    <div *ngIf="
                      createCorporateCustomer.get('taxNumber')?.hasError('required') &&
                      (createCorporateCustomer.dirty || createCorporateCustomer.touched)
                    " class="alert alert-danger" role="alert">
                      Tax Number is required
                    </div>

                    <div *ngIf="
                      createCorporateCustomer.get('taxNumber')?.hasError('minlength') &&
                      (createCorporateCustomer.dirty || createCorporateCustomer.touched)
                    " class="alert alert-danger" role="alert">
                      Tax Number length must be 8 character
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="mt-4 pt-2" style=" float:right;">
              <button class="btn btn-success btn-lg" (click)="goNextForm()">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
