<!-- <h3>Merhaba Angular</h3>
<h3>{{ title }}</h3>
<h3>{{ sumOfNumbers(6, 5) }}</h3>
<button (click)="btnClick()">Tıkla</button>
<app-calculator></app-calculator>
<app-product-list></app-product-list> -->

<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>


<!-- <h3>{{ today | date:"dd-MM-yyyy"}}</h3>



<div class="spinner-container" *ngIf="isLoading">
  <div class="overlay show">
    <div class="spinner show">
      <div class="loader">
        Loading...
      </div>
    </div>
  </div>
</div>

<ul>
  <li *ngFor="let i of 'burak,ali,veli,furkan,ayşe,fatma'  | split: ',' ">{{i}}</li>
</ul>
{{ "burak,ali,veli,furkan,ayşe,fatma" | split: "," }} -->

<!-- <app-listview></app-listview> -->
